*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    size: 36px;
    color: #000000;
    margin: 71px 85px 0px 12px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 45px 0px 0px 12px;
    text-transform: uppercase;
}

p{
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 12px 0 0 12px;
    width: 333px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}


img{
    width: 200px;
    margin-left: 12px;
    
}
.bloc{
    position: relative;
}

.h-text{
    margin-top: 10px;
    margin-left: 12px;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;

}
.v-text{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    size: 10px;
    line-height: 13px;
    color: #000000;
    transform: rotate(90deg);
    position: absolute;
    text-transform: uppercase;
    right: -96px;
    width: 200px;
    top: 94px;
}

.photo-1{
    margin-top: 43px;
}
.photo-2{
    margin-top: 113px;
}
.photo-4{
    margin-top: 60px;
}
.photo-5{
    margin-top: -38px;
}
.photo-6{
    margin-top: 30px;
}


footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #A9A9A9;
    text-align: center;

}

@media screen and (min-width:600px){
    h1{
        width: 300px;
        margin: 110px 0 0 243px;
    }
    header{
        display: flex;
        margin-bottom: 100px;
    }
    h2{
        margin: 110px 0 0 215px;
    }
    p{
        margin: 10px 0 0 215px;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 243px;
        gap: 50px;
    }
    img{
        width: 250px;
    }
    .v-text{
        right: -113px;
    }

    .photo-4{
        margin-top: 60px;
    }
    .photo-5{
        margin-top: 128px;
    }
    .photo-6{
        margin-top: 30px;
    }
    
}

