*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Montserrat',sans-serif;
    font-size: 26px;
    line-height: 47.7px;
    font-weight: 700;
    color: #000000;
}
h2{
    font-family: 'poppins',serif;
    margin-top: 36px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
p{
    font-family: 'poppins',serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    color: #000000;
    margin-bottom: 70px;
}
.container,header{
    margin-left: 10%;
    margin-right: 10%;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    margin-bottom: 100px;
    align-items: center;
    align-content: center;
}
.element{
    position: relative;
}
.element-image{
    overflow: hidden;
}
img{
    width: 139px;
    height: auto;
    transition: .6s ease-in-out;
}
img:hover{
    transform: scale(1.16);
    filter: grayscale();
}
.translatey{
    transform: translateY(-40px);
}
.element-infos-h{
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.element-infos-v{
    font-family: 'montserrat',sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    transform: rotate(90deg);
    position: absolute;
    right: -110px;
    top: 94px;
    width: 200px;
    height: auto;
    text-transform: uppercase;
}
footer{
    text-align: center;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: #000000;
}
footer a{
    text-decoration: none;
    color: #e00d0d;
    font-family: 'poppins',sans-serif;
    font-size: 600;
}

@media screen and (min-width:375px){
    .element-image img{
        width: 155px;
    }
}
@media screen and (min-width:412px){
    .element-image img{
        width: 170px;
    }
}
@media screen and (min-width:496px){
    .element-image img{
        width: 200px;
    }
}
@media screen and (min-width:540px){
    .container{
        grid-template-columns: repeat(3,1fr);
        row-gap: 40px;
    }
    .translatey{
        transform: translateY(0);
    }
    .translate540{
        transform: translateY(50px);
    }
    header{
        flex-direction: row;
        justify-content: space-between;
        width: 43em;
    }
    h1{
        font-size: 36px;
    }
    h2{
        margin-top: 0;
        font-size: 25px;
    }
    .left{
        width: 700px;
        margin-top: 110px;
    }
    .right{
        margin-top: 120px;
    }
    .element-image img{
        width: 210px;

}
@media screen and (min-width:920px){
    .element-image img{
        width: 280px;
    }
        header{
            width:60em;
        }
        h1{
            font-size: 40px;
            width: 9.5em;
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 25px;
            margin-top: 20px;
        }
        header{
            width: 71em;
        }
        .right{
            margin-left: 110px;
       }
        
}
@media screen and (min-width:1100px){
    .element-image img{
        width: 280px;
    }
    header{
        width:60em;
    }
    h1{
        font-size: 40px;
        width: 9.5em;
    }
    h2{
        font-size: 40px;
    }
    p{
        font-size: 25px;
        margin-top: 20px;
    }
}
@media screen and (min-width:1100px){
    .element-image img{
        width: 360px;
    }
    header{
        width: 71em;
    }
    .right{
        margin-left: 110px;
   }
}